@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
}

a:focus,
input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label,
summary {
  cursor: pointer;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "TT Norms";
  src: url("../public/fonts/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../public/fonts/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../public/fonts/TTNorms-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-white-alt: #f8f8f8;
  --color-black: #171717;
  --color-grey: rgb(232, 233, 238, 0.2);
  --color-accent: #78be20;
  --color-pink: #fe3f44;
  --color-yellow: #ffc700;
  --font-family: "TT Norms", sans-serif;
  --border-r-s: 10px;
  --border-r-m: 20px;
  --border-r-l: 30px;
  --container-width: 87.5rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.accent-color {
  color: var(--color-accent);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.scroll-off {
  max-height: 100%;
  overflow: hidden;
}

html.is-lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(146deg, #ffbf3f 0%, #78be20 100%);
}

.hide {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: #000;
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-accent);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  width: 100%;
  position: absolute;
  top: 38px;
  z-index: 50;
}
@media (width <= 63.99875rem) {
  .header {
    top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__container {
  padding: clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem) clamp(0.625rem, -0.9865702479rem + 6.6115702479vw, 5.625rem);
  border-radius: var(--border-r-s);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width <= 63.99875rem) {
  .header-navigation {
    display: none;
  }
}

@media (width <= 63.99875rem) {
  .header-navigation.open {
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 51;
    background: linear-gradient(145deg, #ffc701 0%, #fe3f44 100%);
    animation: burger-menu 120ms linear;
  }
  .header-navigation.open .header-navigation__list {
    display: grid;
    place-content: center;
    text-align: center;
    color: var(--color-white);
    font-size: 32px;
  }
  .header-navigation.open + .header__btn {
    display: block;
    position: absolute;
    top: 10vh;
    left: 50%;
    translate: -50% 0;
    z-index: 52;
    opacity: 1;
  }
}

.header-navigation__list {
  display: flex;
  gap: 44px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: capitalize;
  color: var(--color-black);
}
.header-navigation__list .header-navigation__link:active {
  color: var(--color-black);
}

.header__btn {
  padding: 0.6875rem 2.6875rem;
  border-radius: 50px;
  background-color: var(--color-pink);
  font-weight: 500;
  font-size: 20px;
  line-height: 94%;
  text-align: center;
  color: var(--color-white);
  text-wrap: nowrap;
}
@media (width <= 63.99875rem) {
  .header__btn {
    display: none;
  }
}
.header__btn:hover {
  opacity: 0.85;
}
.header__btn:active {
  opacity: 1;
}

.header__open {
  width: 25px;
  height: 20px;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media (width <= 63.99875rem) {
  .header__open {
    display: flex;
  }
}
.header__open span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: var(--border-r-s);
  transition: var(--transition-duration);
}

.header__open.open {
  position: absolute;
  z-index: 52;
  top: 42px;
  right: 30px;
}
@media (width <= 30.06125rem) {
  .header__open.open {
    top: 30px;
  }
}
.header__open.open span {
  background-color: var(--color-white);
}
.header__open.open span:nth-of-type(1) {
  rotate: 45deg;
}
.header__open.open span:nth-of-type(2) {
  display: none;
}
.header__open.open span:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -18px;
}

@keyframes burger-menu {
  from {
    translate: 0 -100%;
  }
  to {
    translate: 0 0;
  }
}
.header__logo img {
  width: clamp(10.5rem, 7.2768595041rem + 13.2231404959vw, 20.5rem);
  height: clamp(1.75rem, 1.2262396694rem + 2.1487603306vw, 3.375rem);
}

.hero {
  padding-top: 204px;
  padding-bottom: 322px;
  overflow: hidden;
}
@media (width <= 63.99875rem) {
  .hero {
    padding-top: 104px;
    padding-bottom: 156px;
    position: relative;
  }
}

.hero__container {
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__container {
    position: static;
  }
}

.hero__title {
  font-size: clamp(2.1875rem, 1.3212809917rem + 3.5537190083vw, 4.875rem);
  max-width: clamp(22.1875rem, 15.9628099174rem + 25.5371900826vw, 41.5rem);
  margin-bottom: 26px;
  font-weight: 700;
  line-height: 90%;
  position: relative;
  z-index: 2;
}

.hero__description {
  font-size: clamp(0.875rem, 0.6534090909rem + 0.9090909091vw, 1.5625rem);
  max-width: clamp(20.9375rem, 17.1704545455rem + 15.4545454545vw, 32.625rem);
  margin-bottom: clamp(1.25rem, 0.2830578512rem + 3.9669421488vw, 4.25rem);
  font-weight: 700;
  line-height: 132%;
  position: relative;
  z-index: 2;
}

.hero__btn-wrapper {
  position: relative;
}

.hero__btn {
  padding: 8px;
  position: relative;
  left: 112px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .hero__btn {
    margin-bottom: 346px;
    left: 88px;
  }
}
@media (any-hover: hover) {
  .hero__btn:hover::before {
    box-shadow: 0 0 12px rgb(58, 58, 58) inset;
  }
  .hero__btn:hover div:nth-of-type(3):before {
    background-color: var(--color-yellow);
  }
  .hero__btn:hover div:nth-of-type(3)::after {
    border-color: var(--color-yellow);
  }
}
@media (any-hover: none) {
  .hero__btn:active::before {
    box-shadow: 0 0 12px rgb(58, 58, 58) inset;
  }
  .hero__btn:active div:nth-of-type(3):before {
    background-color: var(--color-yellow);
  }
  .hero__btn:active div:nth-of-type(3)::after {
    border-color: var(--color-yellow);
  }
}
.hero__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: clamp(3.125rem, 2.6818181818rem + 1.8181818182vw, 4.5rem);
  height: clamp(3.125rem, 2.6818181818rem + 1.8181818182vw, 4.5rem);
  border-radius: 100%;
  background-color: var(--color-pink);
  z-index: 20;
  transition: var(--transition-duration);
}
.hero__btn img {
  animation: btn-rotate linear infinite 8s;
}
.hero__btn div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: -1;
}
.hero__btn div:nth-of-type(2) {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--color-pink);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  translate: -70% 0;
  z-index: -2;
  filter: blur(3px);
  opacity: 0.88;
}
.hero__btn div:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 20;
}
.hero__btn div:nth-of-type(3)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 22px;
  height: 3px;
  background-color: var(--color-white);
  rotate: -45deg;
  transition: var(--transition-duration);
}
.hero__btn div:nth-of-type(3)::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 16px;
  height: 16px;
  border-top: 3px solid var(--color-white);
  border-left: 3px solid var(--color-white);
  rotate: 90deg;
  translate: -40% -60%;
  transition: var(--transition-duration);
}

.hero__arrow {
  position: absolute;
  top: 0;
  left: 204px;
  translate: 0 15%;
  animation: arrow-move 2200ms linear infinite;
  transform-origin: 0% 80%;
  z-index: 12;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .hero__arrow {
    left: 160px;
  }
}

@keyframes arrow-move {
  0% {
    rotate: 5deg;
    scale: 1.15;
  }
  50% {
    rotate: -5deg;
    scale: 1;
  }
  100% {
    rotate: 5deg;
    scale: 1.15;
  }
}
.hero-scene {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width <= 63.99875rem) {
  .hero-scene {
    right: auto;
    left: 0;
    bottom: 156px;
  }
}

.hero-scene__circle {
  position: absolute;
  right: -200px;
  bottom: -243px;
  z-index: -3;
  width: clamp(30rem, 25.4070247934rem + 18.8429752066vw, 44.25rem);
  height: clamp(30rem, 25.4070247934rem + 18.8429752066vw, 44.25rem);
  background-color: #78be20;
  border-radius: 50%;
  opacity: 0.4;
  filter: blur(90px);
}
@media (width <= 63.99875rem) {
  .hero-scene__circle {
    bottom: -100px;
    right: auto;
    left: 0;
    translate: -30% 0;
  }
}

.hero-scene__gate {
  bottom: 0;
  left: 0;
  mix-blend-mode: lighten;
  translate: 0 20%;
  z-index: 2;
}
@media (width <= 63.99875rem) {
  .hero-scene__gate {
    translate: -10% 8%;
  }
}

.hero-scene__puck {
  position: absolute;
  bottom: 0;
  left: 0;
  translate: 50% 35%;
  z-index: 11;
}
@media (width <= 63.99875rem) {
  .hero-scene__puck {
    translate: 40% 30%;
  }
}

.hero-scene__ball {
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 0 42%;
  z-index: 11;
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1.3, 0.7);
  }
  20% {
    transform: scaleY(1.1);
  }
  40%, 80% {
    transform: translateY(-18rem);
  }
  70% {
    transform: translateY(-20rem);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes fly {
  0% {
    transform: translateY(0);
    translate: 0 42%;
    scale: 1;
  }
  5% {
    rotate: 0deg;
    scale: 1;
  }
  19% {
    z-index: 11;
  }
  20% {
    z-index: 1;
  }
  59% {
    z-index: 1;
  }
  60% {
    translate: -110% -35%;
    z-index: 11;
  }
  100% {
    z-index: -2;
    translate: -190% -70%;
    scale: 0.01;
    rotate: -2100deg;
  }
}
@keyframes btn-rotate {
  to {
    rotate: 360deg;
  }
}
@keyframes puck-move {
  0% {
    translate: 50% 35%;
    scale: 1;
  }
  10% {
    translate: 50% -25%;
    scale: 0.1;
    z-index: 1;
  }
  20% {
    translate: 60% -65%;
    scale: 0;
  }
  50% {
    z-index: 11;
  }
  91% {
    scale: 0;
  }
  100% {
    translate: 50% 35%;
    scale: 1;
  }
}
.partners {
  translate: 0 -100%;
  padding-top: 40px;
  padding-bottom: 58px;
  border-radius: var(--border-r-s);
  background-color: var(--color-white);
  position: relative;
  z-index: 10;
}
@media (width <= 63.99875rem) {
  .partners {
    padding: 20px;
  }
  .partners .partners-marquee__item img {
    scale: 0.5;
  }
}

.partners__title {
  font-size: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
  margin-bottom: fluid-text(24, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  font-weight: 500;
  line-height: 133%;
  text-align: center;
  color: var(--color-black);
  text-wrap: nowrap;
}
@media (width <= 63.99875rem) {
  .partners__title {
    gap: 12px;
  }
}
.partners__title::before, .partners__title::after {
  content: "";
  display: block;
  max-width: 520px;
  width: 100%;
  height: 1px;
  background-color: #696969;
}

.partners__marquee {
  display: flex;
  block-size: var(--marquee-item-height);
  position: relative;
  overflow-x: hidden;
  -webkit-mask-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
          mask-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%) 20%, hsl(0, 0%, 0%) 80%, hsla(0, 0%, 0%, 0));
}

.partners-marquee {
  --marquee-item-width: 168px;
  --marquee-item-height: 111px;
  --marquee-duration: 26s;
  --marquee-items: 12;
}
@media (width <= 63.99875rem) {
  .partners-marquee {
    --marquee-item-width: 128px;
    --marquee-item-height: 88px;
  }
}
.partners-marquee .partners-marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}
.partners-marquee .partners-marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}
.partners-marquee .partners-marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}
.partners-marquee .partners-marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}
.partners-marquee .partners-marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}
.partners-marquee .partners-marquee__item:nth-of-type(6) {
  --marquee-item-index: 6;
}
.partners-marquee .partners-marquee__item:nth-of-type(7) {
  --marquee-item-index: 7;
}
.partners-marquee .partners-marquee__item:nth-of-type(8) {
  --marquee-item-index: 8;
}
.partners-marquee .partners-marquee__item:nth-of-type(9) {
  --marquee-item-index: 9;
}
.partners-marquee .partners-marquee__item:nth-of-type(10) {
  --marquee-item-index: 10;
}
.partners-marquee .partners-marquee__item:nth-of-type(11) {
  --marquee-item-index: 11;
}
.partners-marquee .partners-marquee__item:nth-of-type(12) {
  --marquee-item-index: 12;
}

.partners-marquee__item {
  --marquee-item-offset: max(
    calc(var(--marquee-item-width) * var(--marquee-items)),
    calc(100% + var(--marquee-item-width))
  );
  --marquee-delay: calc(
    var(--marquee-duration) / var(--marquee-items) *
      (var(--marquee-items) - var(--marquee-item-index)) * -1
  );
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}
.services {
  margin-top: -200px;
}
@media (width <= 63.99875rem) {
  .services {
    margin-top: -120px;
  }
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media (width <= 63.99875rem) {
  .services__container {
    gap: 20px;
  }
}
.services__container .service:nth-of-type(2):hover .service__title {
  color: var(--color-white);
}
.services__container .service:nth-of-type(2):hover .service__title path {
  stroke: var(--color-white);
}
.services__container .service:nth-of-type(2):hover .service__link {
  color: var(--color-white);
}
.services__container .service:nth-of-type(2):hover .service__link::before {
  background-color: var(--color-white);
}

.service {
  width: clamp(20.9375rem, 18.7215909091rem + 9.0909090909vw, 27.8125rem);
  height: clamp(11.1875rem, 8.4478305785rem + 11.2396694215vw, 19.6875rem);
  padding: clamp(1rem, 0.5165289256rem + 1.9834710744vw, 2.5rem) clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (width <= 63.99875rem) {
  .service {
    background-color: var(--color-white);
    border-radius: 16px;
  }
}
.service:hover .service__link {
  color: var(--color-black);
}
.service:hover #paint0_linear_1046_20-1 stop:nth-of-type(1) {
  stop-color: #78be20;
}
.service:hover #paint0_linear_1046_20-1 stop:nth-of-type(2) {
  stop-color: #ffbf3f;
}
.service:hover #paint0_linear_1046_13-2 stop:nth-of-type(1) {
  stop-color: #fe3f44;
}
.service:hover #paint0_linear_1046_13-2 stop:nth-of-type(2) {
  stop-color: #ffc701;
}
.service:hover #paint0_linear_1046_6-3 stop:nth-of-type(1) {
  stop-color: #ffbf3f;
}
.service:hover #paint0_linear_1046_6-3 stop:nth-of-type(2) {
  stop-color: #ffbf3f;
}
.service:hover #paint0_linear_1046_6-3 stop:nth-of-type(3) {
  stop-color: #fe3f44;
}

.service__bg {
  width: clamp(20.9375rem, 18.7215909091rem + 9.0909090909vw, 27.8125rem);
  height: clamp(11.1875rem, 8.4478305785rem + 11.2396694215vw, 19.6875rem);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (width <= 63.99875rem) {
  .service__bg {
    display: none;
  }
}

.service__title {
  font-size: clamp(1.125rem, 0.8832644628rem + 0.9917355372vw, 1.875rem);
  display: flex;
  align-items: start;
  gap: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 133%;
  color: #000;
}
@media (width <= 63.99875rem) {
  .service__title {
    flex-direction: column;
    gap: 14px;
  }
  .service__title svg {
    width: 40px;
    height: 40px;
  }
}
.service__title span {
  max-width: 268px;
}

.service__link {
  font-size: clamp(1.125rem, 1.0847107438rem + 0.1652892562vw, 1.25rem);
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  line-height: 136%;
  text-align: center;
  color: var(--color-black);
  position: relative;
}
.service__link::before {
  content: "";
  width: 110%;
  height: 1px;
  background-color: var(--color-black);
  position: absolute;
  bottom: -10px;
  left: 0;
}
@media (width <= 63.99875rem) {
  .service__link::before {
    width: 100%;
    bottom: 0;
  }
}

.about {
  padding-top: 50px;
}

.about__title {
  font-size: clamp(1.875rem, 0.9684917355rem + 3.7190082645vw, 4.6875rem);
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 107%;
  color: var(--color-white);
}

.about__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
}
.about__list li {
  min-height: 300px;
  padding: clamp(1.75rem, 1.5082644628rem + 0.9917355372vw, 2.5rem) clamp(1.375rem, 1.2138429752rem + 0.6611570248vw, 1.875rem);
  border-radius: var(--border-r-m);
  background-color: var(--color-grey);
}
@media (width <= 47.99875rem) {
  .about__list li {
    min-height: auto;
  }
}
.about__list li p {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  margin-top: 20px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: -0.03em;
  color: var(--color-white);
}
.about__list li p strong {
  font-size: clamp(1.125rem, 0.9839876033rem + 0.5785123967vw, 1.5625rem);
  font-weight: 800;
}

.strength {
  padding-top: 56px;
  padding-bottom: 100px;
}

.strength__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-white);
}

.strength__list {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
  counter-reset: Snum;
}
@media (width <= 63.99875rem) {
  .strength__list {
    flex-wrap: wrap;
  }
}

.strength__item {
  width: clamp(20.9375rem, 18.6813016529rem + 9.2561983471vw, 27.9375rem);
  min-height: clamp(21.6875rem, 16.1880165289rem + 22.5619834711vw, 38.75rem);
  padding: clamp(1.25rem, 1.1291322314rem + 0.4958677686vw, 1.625rem) clamp(1.375rem, 1.173553719rem + 0.826446281vw, 2rem);
  border-radius: var(--border-r-m);
  background-color: var(--color-white-alt);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  counter-increment: Snum;
}
.strength__item:nth-of-type(2) {
  background-color: var(--color-pink);
  justify-content: end;
}
.strength__item:nth-of-type(2)::before {
  color: var(--color-white);
  border-color: var(--color-white);
}
.strength__item:nth-of-type(2) p {
  color: var(--color-white);
}
.strength__item:nth-of-type(2) img {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  translate: 0 0;
}
.strength__item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.0625rem, 0.9416322314rem + 0.4958677686vw, 1.4375rem);
  content: counter(Snum);
  width: clamp(2.25rem, 2.0082644628rem + 0.9917355372vw, 3rem);
  height: clamp(2.25rem, 2.0082644628rem + 0.9917355372vw, 3rem);
  margin-bottom: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
  border: 1px solid var(--color-black);
  border-radius: 100%;
  color: var(--color-black);
}
.strength__item p {
  font-size: clamp(1.125rem, 1.0444214876rem + 0.3305785124vw, 1.375rem);
  font-weight: 400;
  line-height: 134%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  text-wrap: balance;
  position: relative;
  z-index: 1;
}
.strength__item p strong {
  font-weight: 700;
}
.strength__item img {
  width: clamp(13.75rem, 9.5599173554rem + 17.1900826446vw, 26.75rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}

.portfolio {
  padding-top: 50px;
  padding-bottom: 84px;
  background-color: var(--color-white);
}

.potfolio__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 143%;
  color: var(--color-black);
}

.potfolio__list {
  margin-bottom: 30px;
  display: grid;
  gap: 30px 20px;
  grid-template-areas: "portfolio-1 portfolio-2 portfolio-3" "portfolio-1 portfolio-4 portfolio-5" "portfolio-6 portfolio-7 portfolio-7" "portfolio-8 portfolio-9 portfolio-10";
}
.potfolio__list .portfolio__item:nth-child(1) {
  grid-area: portfolio-1;
}
.potfolio__list .portfolio__item:nth-child(2) {
  grid-area: portfolio-2;
}
.potfolio__list .portfolio__item:nth-child(3) {
  grid-area: portfolio-3;
}
.potfolio__list .portfolio__item:nth-child(4) {
  grid-area: portfolio-4;
}
.potfolio__list .portfolio__item:nth-child(5) {
  grid-area: portfolio-5;
}
.potfolio__list .portfolio__item:nth-child(6) {
  grid-area: portfolio-6;
}
.potfolio__list .portfolio__item:nth-child(7) {
  grid-area: portfolio-7;
}
.potfolio__list .portfolio__item:nth-child(8) {
  grid-area: portfolio-8;
}
.potfolio__list .portfolio__item:nth-child(9) {
  grid-area: portfolio-9;
}
.potfolio__list .portfolio__item:nth-child(10) {
  grid-area: portfolio-10;
}
.potfolio__list .portfolio__item:nth-child(2),
.potfolio__list .portfolio__item:nth-child(3) {
  margin-bottom: 4px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  visibility: visible;
  transition: max-height 0.4s ease;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  z-index: 1;
}
.portfolio__item .portfolio__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-r-s);
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  transition: var(--transition-duration);
  z-index: -1;
}
.portfolio__item .portfolio__overlay a {
  padding: 16px 66px;
  border-radius: 60px;
  background-color: var(--color-black);
  font-weight: 500;
  font-size: 25px;
  line-height: 109%;
  text-align: center;
  color: var(--color-white-alt);
}

.portfolio__item.hidden {
  max-height: 0;
  visibility: hidden;
}

.portfolio__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.125rem, 0.9839876033rem + 0.5785123967vw, 1.5625rem);
  width: 100%;
  height: clamp(3.4375rem, 3.3367768595rem + 0.4132231405vw, 3.75rem);
  border-radius: 60px;
  background-color: var(--color-black);
  font-weight: 500;
  line-height: 109%;
  color: var(--color-white-alt);
}
@media (any-hover: hover) {
  .portfolio__btn:hover {
    opacity: 0.85;
  }
}
@media (any-hover: none) {
  .portfolio__btn:active {
    opacity: 0.85;
  }
}
.portfolio__btn:active {
  opacity: 1;
}
.portfolio__btn:disabled {
  opacity: 0.85;
  cursor: auto;
}
.portfolio__btn:disabled:active {
  opacity: 0.85;
}

.principles {
  padding-top: 50px;
  position: relative;
}

.principles__container {
  display: grid;
}

.principles__wrapper {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.principles__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  max-width: 700px;
  font-weight: 500;
  line-height: 107%;
  color: var(--color-white);
}

.principles__subtitle {
  font-size: clamp(1.0625rem, 0.9013429752rem + 0.6611570248vw, 1.5625rem);
  max-width: 412px;
  font-weight: 500;
  line-height: 128%;
  text-align: right;
  color: var(--color-white);
}

.principles__list {
  grid-row: 2/3;
  grid-column: 2/3;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2.75rem 1.875rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-r-l);
  background: rgba(217, 217, 217, 0.15);
}

.principle:not(:last-of-type) {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.principle__title {
  font-size: clamp(1.4375rem, 1.2964876033rem + 0.5785123967vw, 1.875rem);
  max-width: 246px;
  margin-bottom: 15px;
  padding-left: 35px;
  display: flex;
  align-items: start;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 113%;
  color: var(--color-white);
  position: relative;
}
.principle__title::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--color-accent);
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 30%;
}
.principle__title img {
  position: absolute;
  top: 0;
  left: 0;
  translate: 30% 100%;
}

.principle__description {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  max-width: 425px;
  font-weight: 400;
  line-height: 139%;
  color: var(--color-white);
}

.principles__scene {
  padding-top: 24px;
}

.integration {
  padding-top: 44px;
}

.integration__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 114%;
  color: var(--color-white);
}

.integration__subtitle {
  font-size: clamp(0.9375rem, 0.333161157rem + 2.479338843vw, 2.8125rem);
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 60px;
  padding: 22px 28px 26px 28px;
  border-radius: 100px;
  background-color: var(--color-yellow);
  font-weight: 400;
  line-height: 60%;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

.integration__list {
  display: grid;
  gap: 30px;
}

.integration__item {
  padding: 42px 50px 0 50px;
  border-radius: var(--border-r-m);
  background: rgba(217, 217, 217, 0.2);
}

.integration-accordion__details {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.integration-accordion__details[open] .integration-accordion__legend div {
  background-color: var(--color-pink);
}
.integration-accordion__details[open] .integration-accordion__legend div::after {
  rotate: 0deg;
}

.integration-accordion__details[open] + .integration-accordion__wrapper {
  padding-bottom: 36px;
  grid-template-rows: 1fr;
}

.integration-accordion__legend {
  padding-top: 26px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.integration-accordion__legend span {
  font-size: clamp(1rem, 0.7179752066rem + 1.1570247934vw, 1.875rem);
  font-weight: 500;
  line-height: 96%;
  color: var(--color-white);
}

.integration-accordion__mark {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-accent);
  position: relative;
}
.integration-accordion__mark::before, .integration-accordion__mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.integration-accordion__mark::after {
  transition: rotate 100ms ease;
  rotate: 90deg;
}

.integration-accordion__wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: var(--transition-duration);
}

.integration-accordion__content {
  display: flex;
  gap: 22px;
  overflow: hidden;
}
.integration-accordion__content p {
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 565px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 23px 10px;
  border-radius: var(--border-r-s);
  background-color: #d9d9d9;
  font-size: 19px;
  line-height: 130%;
  color: var(--color-black);
}
.integration-accordion__content ul {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 26px;
}
.integration-accordion__content ul li {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.integration-accordion__content ul li span {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: var(--color-white);
}

.tools {
  padding-top: 100px;
  padding-bottom: 15px;
  position: relative;
}
.tools::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000 0%, #78be20 100%);
  z-index: -1;
}

.tools__container {
  position: relative;
}

.tools__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-bottom: 62px;
  line-height: 114%;
  color: var(--color-white);
}

.tools__btn {
  font-size: clamp(1.125rem, 0.9839876033rem + 0.5785123967vw, 1.5625rem);
  border-radius: 72px;
  padding: 0.75rem 2.25rem;
  background-color: var(--color-pink);
  font-weight: 500;
  line-height: 109%;
  color: var(--color-white);
  position: absolute;
  top: 0;
  right: 20px;
  translate: 0 50%;
}
@media (any-hover: hover) {
  .tools__btn:hover {
    opacity: 0.7;
  }
}
@media (any-hover: none) {
  .tools__btn:active {
    opacity: 0.7;
  }
}
.tools__btn:active {
  opacity: 1;
}

.tools__item {
  padding-bottom: 24px;
  margin-bottom: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(1) {
  transition: translate 200ms ease 750ms;
  translate: 0 0;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(2) {
  transition: translate 300ms ease 650ms;
  translate: 0 0;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(3) {
  transition: translate 400ms ease 550ms;
  translate: 0 0;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(4) {
  transition: translate 500ms ease 450ms;
  translate: 0 0;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(5) {
  transition: translate 600ms ease 350ms;
  translate: 0 0;
}
.tools__item:nth-of-type(1) ul > li.move:nth-of-type(6) {
  transition: translate 700ms ease 250ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(1) {
  transition: translate 200ms ease 900ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(2) {
  transition: translate 300ms ease 800ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(3) {
  transition: translate 400ms ease 700ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(4) {
  transition: translate 500ms ease 600ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(5) {
  transition: translate 600ms ease 500ms;
  translate: 0 0;
}
.tools__item:nth-of-type(2) ul > li.move:nth-of-type(6) {
  transition: translate 700ms ease 400ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(1) {
  transition: translate 200ms ease 1050ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(2) {
  transition: translate 300ms ease 950ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(3) {
  transition: translate 400ms ease 850ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(4) {
  transition: translate 500ms ease 750ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(5) {
  transition: translate 600ms ease 650ms;
  translate: 0 0;
}
.tools__item:nth-of-type(3) ul > li.move:nth-of-type(6) {
  transition: translate 700ms ease 550ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(1) {
  transition: translate 200ms ease 1200ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(2) {
  transition: translate 300ms ease 1100ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(3) {
  transition: translate 400ms ease 1000ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(4) {
  transition: translate 500ms ease 900ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(5) {
  transition: translate 600ms ease 800ms;
  translate: 0 0;
}
.tools__item:nth-of-type(4) ul > li.move:nth-of-type(6) {
  transition: translate 700ms ease 700ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(1) {
  transition: translate 200ms ease 1350ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(2) {
  transition: translate 300ms ease 1250ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(3) {
  transition: translate 400ms ease 1150ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(4) {
  transition: translate 500ms ease 1050ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(5) {
  transition: translate 600ms ease 950ms;
  translate: 0 0;
}
.tools__item:nth-of-type(5) ul > li.move:nth-of-type(6) {
  transition: translate 700ms ease 850ms;
  translate: 0 0;
}
.tools__item:last-of-type ul {
  max-width: 786px;
}
.tools__item h3 {
  font-size: clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem);
  display: grid;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-white);
}
.tools__item h3 span:last-of-type {
  font-size: 22px;
}
.tools__item ul {
  max-width: 800px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.tools__item ul li {
  font-size: clamp(0.4375rem, 0.2159090909rem + 0.9090909091vw, 1.125rem);
  width: 115px;
  display: grid;
  justify-items: center;
  gap: 10px;
  font-weight: 300;
  line-height: 100%;
  color: var(--color-white);
  white-space: nowrap;
}
.tools__item ul li:nth-of-type(1) {
  transition: translate 200ms ease 0ms;
  translate: -300% 0;
}
.tools__item ul li:nth-of-type(2) {
  transition: translate 300ms ease 100ms;
  translate: -400% 0;
}
.tools__item ul li:nth-of-type(3) {
  transition: translate 400ms ease 200ms;
  translate: -500% 0;
}
.tools__item ul li:nth-of-type(4) {
  transition: translate 500ms ease 300ms;
  translate: -600% 0;
}
.tools__item ul li:nth-of-type(5) {
  transition: translate 600ms ease 400ms;
  translate: -700% 0;
}
.tools__item ul li:nth-of-type(6) {
  transition: translate 700ms ease 500ms;
  translate: -800% 0;
}

.interface {
  padding-top: 78px;
  padding-bottom: 78px;
  background-color: var(--color-accent);
}

.interface__container {
  position: relative;
}

.interface__title {
  font-size: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 114%;
  color: var(--color-white);
}

.interface__controller {
  display: flex;
  gap: 64px;
  position: absolute;
  top: 0;
  right: 20px;
  translate: 0 25%;
}
.interface__controller button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: var(--color-black);
  position: relative;
  transition: 80ms;
}
.interface__controller button:active {
  background-color: var(--color-white);
}
.interface__controller button:active::before {
  border-color: var(--color-black);
}
.interface__controller button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 17px;
  height: 17px;
  border-bottom: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
  rotate: 45deg;
  translate: -30% -50%;
}
.interface__controller button:last-of-type:before {
  rotate: -135deg;
  translate: -70% -50%;
}

.interface__gallery {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.interface__list {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  cursor: grab;
}
.interface__list li {
  flex-shrink: 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.interface__list li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.interface__list li button:hover {
  scale: 1.5;
}

.interface__list.grabbing {
  cursor: grabbing;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.interface__modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.interface-modal__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.interface-modal__content img {
  scale: 1.3;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.slide-left {
  transform: translateX(-200%);
}

.slide-right {
  transform: translateX(200%);
}

.interface-modal__close {
  position: absolute;
  top: 0;
  right: 35px;
  color: var(--color-white);
  font-size: 60px;
  z-index: 1010;
}

.interface-modal__prev,
.interface-modal__next {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 44px;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  z-index: 1001;
}
.interface-modal__prev:active,
.interface-modal__next:active {
  color: var(--color-accent);
}

.interface-modal__next {
  left: auto;
  right: 0;
}

.banner {
  padding-top: 116px;
  overflow: hidden;
  background: #000;
  position: relative;
}

.banner__container {
  padding-bottom: 76px;
  position: relative;
}

.banner__logo {
  margin-bottom: 6px;
  position: relative;
  z-index: 1;
}

.banner__title {
  font-size: clamp(1.5625rem, 0.9178719008rem + 2.6446280992vw, 3.5625rem);
  max-width: 639px;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 114%;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.banner__description {
  font-size: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
  max-width: 523px;
  margin-bottom: 46px;
  font-weight: 700;
  line-height: 132%;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.banner__link {
  padding: 1rem 8rem;
  border-radius: 73px;
  background: var(--color-yellow);
  font-weight: 700;
  font-size: 23px;
  line-height: 118%;
  color: var(--color-black);
  position: relative;
  z-index: 1;
}
.banner__link:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}
.banner__link:active {
  background: var(--color-yellow);
  color: var(--color-black);
}

.banner__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.banner__img:before {
  content: "";
  width: 692px;
  height: 503px;
  border-radius: 100%;
  background-color: rgba(255, 199, 0, 0.66);
  filter: blur(88px);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.banner__marquee {
  width: 100%;
  height: 80px;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.banner__marquee > div {
  display: flex;
  gap: 20px;
  padding-left: 50px;
  animation: banner-marq 12s linear infinite;
}
.banner__marquee > div span {
  font-size: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
  font-weight: 700;
  line-height: 180%;
  text-transform: uppercase;
  color: var(--color-white);
  text-wrap: nowrap;
}

@keyframes banner-marq {
  to {
    transform: translateX(-50%);
  }
}
.coop {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--color-white);
}

.coop__container {
  padding: 44px 60px;
  display: grid;
  border: 7px solid var(--color-accent);
  border-radius: var(--border-r-l);
  background: #000;
  position: relative;
  overflow: hidden;
}

.coop__title {
  font-size: clamp(1.875rem, 1.3310950413rem + 2.2314049587vw, 3.5625rem);
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 477px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 114%;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.coop__form {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  width: 655px;
  display: grid;
  gap: 12px;
  position: relative;
  z-index: 1;
}
.coop__form input:not([type=checkbox]) {
  font-size: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
  padding: 20px;
  border: none;
  border-radius: var(--border-r-s);
  line-height: 125%;
}
.coop__form input:not([type=checkbox])::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.coop__form input:not([type=checkbox])::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.coop__form textarea {
  font-size: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
  min-height: 164px;
  padding: 20px;
  border-radius: var(--border-r-s);
}
.coop__form label:has([type=checkbox]) {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.coop__form label:has([type=checkbox]) span {
  font-size: 15px;
  line-height: 167%;
  color: var(--color-white);
  text-decoration: underline;
}
.coop__form label:has([type=checkbox]) input {
  width: 26px;
  height: 26px;
  accent-color: transparent;
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--color-white);
}
.coop__form label:has([type=checkbox]) input:checked::before {
  content: "✔"; /* Символ галочки */
  font-size: 24px;
  color: var(--color-white); /* Цвет галочки */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coop__submit {
  font-size: clamp(1.125rem, 1.0242768595rem + 0.4132231405vw, 1.4375rem);
  width: 100%;
  height: 60px;
  border-radius: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  font-weight: 700;
  line-height: 118%;
  color: var(--color-white);
}
.coop__submit:hover {
  opacity: 0.7;
}
.coop__submit:active {
  opacity: 1;
}

.coop__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.coop__img:before {
  content: "";
  width: 700px;
  height: 700px;
  background-color: rgba(255, 199, 0, 0.66);
  filter: blur(88px);
  position: absolute;
  bottom: -50%;
  left: 45%;
  translate: -50% 0;
  z-index: -1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.modal .close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: var(--color-white);
  font-size: 44px;
}

.modal-content {
  width: 742px;
  padding: 38px 28px;
  border-radius: var(--border-r-l);
  background-color: var(--color-white);
  position: relative;
  color: var(--color-black);
}
.modal-content h2 {
  max-width: 528px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 65px;
  line-height: 100%;
  text-align: center;
}
.modal-content p {
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 135%;
  letter-spacing: -0.03em;
  text-align: center;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-content input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: var(--border-r-s);
  background-color: #f3f3f3;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: -0.03em;
}
.modal-content input::-moz-placeholder {
  color: #b5b5b5;
}
.modal-content input::placeholder {
  color: #b5b5b5;
}
.modal-content label:has([type=checkbox]) {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 10px;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  letter-spacing: -0.03em;
}
.modal-content label:has([type=checkbox]) input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: var(--color-white);
}
.modal-content label:has([type=checkbox]) input[type=checkbox]:checked {
  outline: 1px solid var(--color-black);
}
.modal-content textarea {
  min-height: 155px;
  padding: 16px 20px;
  border: none;
  border-radius: var(--border-r-s);
  background-color: #f3f3f3;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: -0.03em;
}
.modal-content button[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 36px;
  border-radius: 73px;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-weight: 500;
  font-size: 25px;
  line-height: 109%;
}
.modal-content button[type=submit]:hover {
  opacity: 0.85;
}

.footer {
  padding-top: 44px;
  padding-bottom: 72px;
  background-color: #000;
}

.footer__container {
  display: grid;
  align-items: center;
}

.footer__logo {
  grid-row: 1/2;
  grid-column: 1/2;
}

.footer__navigation {
  grid-row: 1/2;
  grid-column: 2/3;
}
.footer__navigation ol {
  display: flex;
  gap: 88px;
}
.footer__navigation ol a {
  font-size: clamp(0.9375rem, 0.7964876033rem + 0.5785123967vw, 1.375rem);
  line-height: 150%;
  text-transform: capitalize;
}

.footer__copy {
  grid-row: 1/2;
  grid-column: 3/4;
  font-weight: 500;
  font-size: 15px;
  line-height: 149%;
}

.footer__feedback {
  grid-row: 2/3;
  grid-column: 1/3;
}
.footer__feedback address {
  font-size: clamp(0.9375rem, 0.7964876033rem + 0.5785123967vw, 1.375rem);
  display: grid;
  font-style: normal;
}
.footer__feedback address:first-of-type a {
  text-transform: uppercase;
}
.footer__feedback address span {
  line-height: 154%;
  color: #696969;
}
.footer__feedback address a {
  font-weight: 500;
  line-height: 150%;
}

.footer__agree {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: end;
  display: grid;
  justify-items: end;
  gap: 20px;
}
.footer__agree a {
  font-weight: 500;
  font-size: 15px;
  line-height: 141%;
  color: var(--color-accent);
}
@media (any-hover: hover) {
  .footer__agree a:hover {
    text-decoration: underline;
  }
}
@media (any-hover: none) {
  .footer__agree a:active {
    text-decoration: underline;
  }
}/*# sourceMappingURL=main.css.map */