@use "../helpers/" as *;

.coop {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--color-white);

  @include tablet {
    padding: 30px 20px;
  }
}

.coop__container {
  padding: fluid(24, 44) fluid(12, 60);
  display: grid;
  grid-template-columns: auto 1fr;
  border: 7px solid var(--color-accent);
  border-radius: var(--border-r-l);
  background: #000;
  position: relative;

  @include tablet {
    grid-template-columns: auto;
    justify-items: center;
    gap: 20px;
    border-width: 5px;
  }
}

.coop__title {
  @include fluid-text(30, 57);
  max-width: 477px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 114%;
  color: var(--color-white);
  position: relative;
  z-index: 1;

  @include tablet {
    text-align: center;
  }
}

.coop__form {
  justify-self: end;
  width: 100%;
  max-width: 655px;
  display: grid;
  gap: 12px;
  position: relative;
  z-index: 1;

  @include tablet {
    justify-self: center;
  }

  input:not([type="checkbox"]) {
    @include fluid-text(15, 20);
    padding: 20px;
    border: none;
    border-radius: var(--border-r-s);
    line-height: 125%;

    @include tablet {
      padding: 14px 10px;
    }
  }

  input:not([type="checkbox"])::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  textarea {
    @include fluid-text(15, 20);
    min-height: fluid(127, 164);
    padding: 20px;
    border-radius: var(--border-r-s);

    @include tablet {
      padding: 14px 10px;
    }
  }

  label:has([type="checkbox"]) {
    width: fit-content;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 16px;

    span {
      font-size: 15px;
      line-height: 167%;
      color: var(--color-white);
      text-decoration: underline;
    }

    input {
      width: 26px;
      height: 26px;
      accent-color: transparent;
      cursor: pointer;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 2px solid var(--color-white);

      &:checked {
        &::before {
          content: "✔"; /* Символ галочки */
          font-size: 24px;
          color: var(--color-white); /* Цвет галочки */
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.coop__submit {
  @include fluid-text(18, 23);
  width: 100%;
  height: 60px;
  border-radius: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  font-weight: 700;
  line-height: 118%;
  color: var(--color-white);

  @include tablet {
    height: 48px;
  }

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
  }
}

.coop__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    width: fluid(300, 700);
    height: fluid(300, 700);
    background-color: rgba(255, 199, 0, 0.66);
    filter: blur(88px);
    position: absolute;
    bottom: -50%;
    left: 45%;
    translate: -50% 0;
    z-index: -1;
  }
}
