@use "../helpers/" as *;

.footer {
  padding-top: fluid(20, 44);
  padding-bottom: fluid(40, 72);
  background-color: #000;
}

.footer__container {
  display: grid;
  align-items: center;
  grid-template-areas:
    "logo navigation copy"
    "feedback . agree";

  @include tablet {
    grid-template-areas:
      "logo"
      "navigation "
      "feedback"
      "agree"
      "copy";
  }
}

.footer__logo {
  grid-area: logo;

  @include tablet {
    margin-bottom: 24px;
  }
}

.footer__navigation {
  grid-area: navigation;

  @include tablet {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-white);
  }

  ol {
    display: flex;
    gap: 88px;

    @include tablet {
      flex-direction: column;
      gap: 12px;
    }

    a {
      @include fluid-text(15, 22);
      line-height: 150%;
      text-transform: capitalize;
    }
  }
}

.footer__copy {
  grid-area: copy;
  font-weight: 500;
  font-size: 15px;
  line-height: 149%;
  text-align: right;

  @include tablet {
    text-align: left;
  }
}

.footer__feedback {
  grid-area: feedback;

  @include tablet {
    margin-bottom: 40px;
  }

  address {
    @include fluid-text(15, 22);
    display: grid;
    font-style: normal;

    &:first-of-type {
      @include tablet {
        margin-bottom: 20px;
      }
      a {
        text-transform: uppercase;
      }
    }

    span {
      line-height: 154%;
      color: #696969;
    }

    a {
      font-weight: 500;
      line-height: 150%;
      width: fit-content;
    }
  }
}

.footer__agree {
  grid-area: agree;
  display: grid;
  justify-items: end;
  gap: 20px;

  @include tablet {
    justify-items: start;
    margin-bottom: 16px;
    gap: 12px;
  }

  a {
    font-weight: 500;
    font-size: 15px;
    line-height: 141%;
    color: var(--color-accent);

    @include hover {
      text-decoration: underline;
    }
  }
}
