@use "../helpers/" as *;

.portfolio {
  padding-top: fluid(30, 50);
  padding-bottom: fluid(30, 84);
  background-color: var(--color-white);
}

.potfolio__title {
  @include fluid-text(30, 70);
  margin-bottom: fluid(20, 30);
  font-weight: 500;
  line-height: 143%;
  color: var(--color-black);
}

.potfolio__list {
  margin-bottom: fluid(30, 50);
  display: grid;
  gap: 30px 20px;
  grid-template-areas:
    "portfolio-1 portfolio-2 portfolio-3"
    "portfolio-1 portfolio-4 portfolio-5"
    "portfolio-6 portfolio-7 portfolio-7"
    "portfolio-8 portfolio-9 portfolio-10";

  @for $i from 1 through 10 {
    .portfolio__item:nth-child(#{$i}) {
      grid-area: portfolio-#{$i};
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.portfolio__item {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  visibility: visible;
  transition: max-height 0.4s ease;

  &:hover {
    .portfolio__overlay {
      opacity: 1;
      z-index: 1;
    }
  }
  &:nth-of-type(1n + 6) {
    max-height: 0;
    visibility: hidden;
  }

  &:nth-of-type(7) {
    @include mobile {
      img {
        min-height: 200px;
      }
    }
  }

  @include mobile {
    &:nth-of-type(1n + 4) {
      max-height: 0;
      visibility: hidden;
    }
  }

  .portfolio__overlay {
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-r-s);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: var(--transition-duration);
    z-index: -1;

    a {
      padding: 16px 66px;
      border-radius: 60px;
      background-color: var(--color-black);
      font-weight: 500;
      font-size: 25px;
      line-height: 109%;
      text-align: center;
      color: var(--color-white-alt);
    }
  }
}

.portfolio__item.visible {
  max-height: 100% !important;
  visibility: visible !important;

  @include mobile {
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
}

.portfolio__btn {
  @include flex-center;
  @include fluid-text(18, 25);
  width: 100%;
  height: fluid(55, 60);
  border-radius: 60px;
  background-color: var(--color-black);
  font-weight: 500;
  line-height: 109%;
  color: var(--color-white-alt);

  @include hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.85;
    cursor: auto;

    &:active {
      opacity: 0.85;
    }
  }
}
